{% extends "base.html" %}

{% block title %}{{ collection.name }} - Intellidoc{% endblock %}

{% block body %}
<div class="p-4">
    <form hx-post="/api/collection/{{collection.id}}/upload" hx-target="#documents" hx-swap="innerHTML"
                                                                                    hx-encoding="multipart/form-data" class="flex flex-row items-center gap-2">
        <label class="block text-md font-medium text-heading" for="file">Upload file To Collection:</label>
        <input class="text-sm text-stone-500 file:mr-5 file:py-1 cursor-pointer file:px-3 file:border-[1px] file:text-xs file:font-medium file:bg-stone-50 file:text-stone-700 hover:file:cursor-pointer hover:file:bg-blue-50 hover:file:text-blue-700" id="file" type="file" name="file">
        <input type="submit" value="Submit"
                             class="px-4 py-2 bg-blue-500 text-white cursor-pointer font-medium rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
    </form>
    <div class="rounded-md w-2/3 mx-auto shadow-md p-4 mt-6 flex flex-col gap-2">
        <div class="relative w-full">
            <form hx-post="/api/collection/{{collection.id}}/search">
                <input type="text" placeholder="Search documents..." class="block w-full pl-10 pr-4 py-2 text-sm text-gray-900 border border-gray-300 
                    rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
            </form>
            <svg class="absolute left-3 top-1/2 transform -translate-y-1/2 w-5 h-5 text-gray-400" 
                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
        </div>
        <p class="text-md"><strong>Documents In Collection:</strong> {{ collectionCount }}</p>
        <div id="documents">
            {% include "document_list.html" %}
        </div>
    </div>
</div>

{% endblock %}
